@model IEnumerable<HCMSIU_SSPS.Models.PrintJob>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center mt-4">Print Jobs</h1>

<div class="container mt-4">
    <div class="d-flex justify-content-between mb-3">
        <p>
            <a asp-action="Create" class="btn btn-success">Create New</a>
        </p>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.FileName)</th>
                    <th>@Html.DisplayNameFor(model => model.PageCount)</th>
                    <th>@Html.DisplayNameFor(model => model.TotalPages)</th>
                    <th>@Html.DisplayNameFor(model => model.Copies)</th>
                    <th>@Html.DisplayNameFor(model => model.IsDoubleSided)</th>
                    <th>@Html.DisplayNameFor(model => model.StartTime)</th>
                    <th>@Html.DisplayNameFor(model => model.EndTime)</th>
                    <th>@Html.DisplayNameFor(model => model.Printer)</th>
                    <th>@Html.DisplayNameFor(model => model.User)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.FileName)</td>
                        <td>@Html.DisplayFor(modelItem => item.PageCount)</td>
                        <td>@Html.DisplayFor(modelItem => item.TotalPages)</td>
                        <td>@Html.DisplayFor(modelItem => item.Copies)</td>
                        <td>@Html.DisplayFor(modelItem => item.IsDoubleSided)</td>
                        <td>@item.StartTime?.ToString("g")</td>
                        <td>@item.EndTime?.ToString("g")</td>
                        <td>@item.Printer?.PrinterId </td>
                        <td>@item.User?.UserId </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

