@model HCMSIU_SSPS.Models.Printer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Printer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrinterName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrinterName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsEnable)
        </dt>
        <dd class="col-sm-10">
            @if (Model.IsEnable == 1)
            {
                @:Yes
            }
            else
            {
                @:No
            }
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PrinterId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
