@model IEnumerable<HCMSIU_SSPS.Models.Printer>

@{
    ViewData["Title"] = "Printers";
}

<h1 class="text-center mt-4 mb-5">Danh Sách Máy In</h1>

<div class="container">
    <div class="d-flex justify-content-between mb-4">
        <a asp-action="Create" class="btn btn-success">Thêm Máy In Mới</a>
    </div>
    
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Tên Máy In</th>
                    <th>Loại Máy In</th>
                    <th>Cấu Hình</th>
                    <th>Vị Trí</th>
                    <th>Hoạt Động</th>
                    <th class="text-center">Cài Đặt</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.PrinterName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Brand)</td>
                        <td>@Html.DisplayFor(modelItem => item.Model)</td>
                        <td>@Html.DisplayFor(modelItem => item.Location)</td>
                        @if (item.IsEnable == 1)
                        {
                            <td>Có</td>
                        }
                        else
                        {
                            <td>Không</td>
                        }
                        <td class="text-center">
                            <a asp-action="Edit" asp-route-id="@item.PrinterId" class="btn btn-warning btn-sm">Sửa</a>
                            <a asp-action="Delete" asp-route-id="@item.PrinterId" class="btn btn-danger btn-sm">Xóa</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
