@model IEnumerable<HCMSIU_SSPS.Models.Printer>

@{
    ViewData["Title"] = "Printers";
}

<h1 class="text-center mt-4 mb-5">Printers List</h1>

<div class="container">
    <div class="d-flex justify-content-between mb-4">
        <a asp-action="Create" class="btn btn-success">Create New Printer</a>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Printer Name</th>
                    <th>@Html.DisplayNameFor(model => model.Brand)</th>
                    <th>@Html.DisplayNameFor(model => model.Model)</th>
                    <th>@Html.DisplayNameFor(model => model.Location)</th>
                    <th>Is Enable?</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.PrinterName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Brand)</td>
                        <td>@Html.DisplayFor(modelItem => item.Model)</td>
                        <td>@Html.DisplayFor(modelItem => item.Location)</td>
                        @if (item.IsEnable == 1)
                        {
                            <td>Yes</td>
                        }
                        else
                        {
                            <td>No</td>
                        }
                        <td class="text-center">
                            <a asp-action="Edit" asp-route-id="@item.PrinterId" class="btn btn-warning btn-sm">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.PrinterId" class="btn btn-info btn-sm">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.PrinterId" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
