@model IEnumerable<HCMSIU_SSPS.Models.User>

@{
    ViewData["Title"] = "Users List";
}

<h1 class="text-center mt-4 mb-5">Danh Sách Người Dùng</h1>

<div class="container">
    <div class="d-flex justify-content-between mb-4">
        <a asp-action="Create" class="btn btn-success">Thêm Tài Khoản Mới</a>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Tên Đầy Đủ</th>
                    <th>Tên Đăng Nhập</th>
                    <th>Email</th>
                    <th>Mật Khẩu</th>
                    <th>Quản Trị</th>
                    <th>Số Trang Khả Dụng</th>
                    <th class="text-center">Cài Đặt</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                        <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                        <td>@Html.DisplayFor(modelItem => item.Password)</td>
                        <td>@Html.DisplayFor(modelItem => item.Role)</td>
                        <td>@Html.DisplayFor(modelItem => item.PageBalance)</td>
                        <td class="text-center">
                            <a asp-action="Edit" asp-route-id="@item.UserId" class="btn btn-warning btn-sm">Sửa</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
