@model HCMSIU_SSPS.Models.SystemSetting

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SystemSetting</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SettingKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SettingKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SettingValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SettingValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdated)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SettingId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
