@model IEnumerable<HCMSIU_SSPS.Models.Transaction>

@{
    ViewData["Title"] = "Transaction List";
}

<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Transaction List</h1>
            <hr />
        </div>
    </div>

    <div class="row mb-3">
        <div class="col text-right">
            <a asp-action="Create" class="btn btn-primary">Create New Transaction</a>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Amount)</th>
                        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Status)</th>
                        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Description)</th>
                        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Timestamp)</th>
                        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().User)</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                            <td>@Html.DisplayFor(modelItem => item.Status)</td>
                            <td>@Html.DisplayFor(modelItem => item.Description)</td>
                            <td>@Html.DisplayFor(modelItem => item.Timestamp)</td>
                            <td>@Html.DisplayFor(modelItem => item.User.UserId)</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.TransactionId" class="btn btn-sm btn-warning">Edit</a>
                                <a asp-action="Details" asp-route-id="@item.TransactionId" class="btn btn-sm btn-info">Details</a>
                                <a asp-action="Delete" asp-route-id="@item.TransactionId" class="btn btn-sm btn-danger">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
