@model HCMSIU_SSPS.Models.Transaction

@{
    ViewData["Title"] = "Transaction Details";
}

<h1 class="text-center mt-4">Transaction Details</h1>

<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header bg-info text-white">
            <h5 class="mb-0">Transaction Details</h5>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Amount)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Amount)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Status)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Timestamp)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Timestamp)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.User)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.User.UserId)
                </dd>
            </dl>
        </div>
        <div class="card-footer text-center">
            <a asp-action="Edit" asp-route-id="@Model?.TransactionId" class="btn btn-warning">Edit</a> |
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>
